/*----------------------------------------------------------*/

/*GENERAL*/

html {
    font-size: 62.5%;
    font-family: 'Orbitron';
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;
}
/*----------------------------------------------------------*/
/*NAVBAR*/

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;

}

a:hover {
    color:rgb(255, 1, 245); /*FF01F5*/
}

nav {

    /*make navbar sticky*/

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000000;


    width: 100%; /* Ensure the nav takes up the full width */
    height: 10em;
    /*border: 1px solid black;*/
    margin-top: 3.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(red, green, blue, 0.5);

  }

nav ul {
    display: flex;
    gap: 2.4rem;
}

nav ul li {
    font-size: 2.4rem;
}


svg.logo {
max-width: 6%;
margin-left: 10%;
margin-right: 10%;
}

/*------------------------------------------------------------------------------*/
/*LANDING PAGE HERO SECTON*/

h1 {
    font-size: 5.6rem;
    font-weight: bolder;
    color: rgb(255, 1, 245);
    margin: 0;
    
}

h3 {
    font-size: 5.6rem;
    font-weight: bold;
    color: white;
    
}

.hero-text {
    text-transform: uppercase;
}

#landing-page {
    background: rgb(231,225,222);
    background: linear-gradient(221deg, rgba(231,225,222,1) 35%, rgba(113,247,255,1) 100%);
    height: 78em;
    width: 100%;
    position:relative;
    top: 0;
    left: 0;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hero-section {

/*Size & Position the Div*/    
width: 70%;
height: 71%;
border-radius: 50px;
background: rgb(253, 253, 253);
margin-top: 4em;

/*Relative to Child Elements*/
display: flex;
flex-direction: row;

}

.img-wrapper {

width: fit-content;


    
}

  .img-wrapper img {
    width: 57em;
    height: 61.2em;
    position: relative;
    margin-top: 0;
    margin-left: 0 ;
    max-width: 600px; /* Set a maximum width for the image wrapper */
    overflow-y: hidden;
    border-radius: 50px;
    object-fit: cover;
    

    max-width: 100%; /* Make the image responsive */
    border-radius: 50px;
    
    
}

/*CONTENT BOX IN HERO BANNER*/

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 3em;
}

/*HERO TEXT*/

.content-box p, h2 {
    font-size: 3rem;
    font-weight: bold;
}


/* CTA BUTTON 'Meet Me'*/

.cta-button {
    display: flex;
    justify-content: center;
    align-items: center;

}


.cta-button p {
    color: white;
    background-color: black;
    font-size: 2.4em;
    font-weight: bold;
    padding: 10px 56px;
    border-radius: 100px;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-shadow: 0px 4px 4px rgba(, 0, 0, 0.25);


}

.cta-button p:hover {
    background-color: rgb(255, 1, 245);
}

.button-wrapper {
    position: relative;
    margin-top: 4em;
}
















/*---------------------------------------------------------------------*/
/*ABOUT*/

#about {

    background: rgb(0, 0, 0);
    height: 78em;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10000000;
    
}